* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #f0f0f0;
}

#nav {
    background: #222;           
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 6px;
    transition: 0.3s ease;
}

#nav ul li a:hover {
    background: #4aa3ff;
    color: #000;
}

#nav ul li a:active {
    transform: scale(0.95);
}

body{
    background-color: #b1997d;
}

hr {
    border: none;
    height: 4px;
    background: #000000;
    border-radius: 10px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    
}
