* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3e9dd;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menu {
    background: #fffaf4; 
    width: 380px;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #a67c52;
    box-shadow: 0 6px 20px rgba(140, 100, 60, 0.3);
    
    text-align: center;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    background: #c8a27e; 
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #a67c52; 
    transition: 0.3s;
}

#menu ul li a:hover {
    background: #a67c52;
    transform: scale(1.07);
    box-shadow: 0 4px 10px rgba(120, 80, 50, 0.3);
}

/*Autobiografia nav*/
#nav {
    background-color: #8b5e34;
    padding: 15px 0;
    border-bottom: 4px solid #5a3d22;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px; 
}

#nav a {
    text-decoration: none;
    color: #fff7ec;
    background-color: #a57c52;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}

#nav a:hover {
    background-color: #c19a6b;
    transform: scale(1.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}



body{
    background-color: #b1997d;
}

hr {
    border: none;
    height: 4px;
    background: #000000;
    border-radius: 10px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    
}
